# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
env/
venv/
*.pyo

# Logs
*.log
logs/
*.parquet

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Local notebooks directory (keep notebooks out of the repo)
notebooks/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
*.parquet